@{
    ViewBag.Title = "Lista de Alunos";
}

@model EscolaTECNUN.Models.InfoTurma
@{
    ViewBag.Title = "Lista de Alunos";
}

<h2>Lista de Alunos</h2>



<div class="InfoAlunos">
    <table class="table">
        <thead>
            <tr>
                <th>Cód.</th>
                <th>Aluno</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Aluno)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.CPF</td>
                <td>@item.DataNasc</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>
                    <button type="button" class="EditarAluno btn btn-primary" id="@item.Id">Editar</button>
                    <button type="button" class="ExcluirAluno btn btn-danger" id="@item.Id" data-turma="">Excluir</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="editarAlunoModal" tabindex="-1" role="dialog" aria-labelledby="editarAlunoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 style="font-weight:bold" class="modal-title" id="editarAlunoModalLabel"></h5>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="editarAlunoForm" method="post" class="form-horizontal" action="">

                        <input type="hidden" class="Id form-control" name="Id" />

                        <div class="form-group">
                            <label class="control-label col-md-2">Nome: </label>
                            <div class="col-md-10">
                                <input type="text" class="Nome form-control" name="Nome" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">CPF: </label>
                            <div class="col-md-10">
                                <input type="text" class="CPF form-control" name="CPF" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Data da Nascimento: </label>
                            <div class="col-md-10">
                                <input type="date" class="DataNasc form-control" name="DataNasc" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Telefone: </label>
                            <div class="col-md-10">
                                <input type="text" class="Telefone form-control" name="Telefone" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Email: </label>
                            <div class="col-md-10">
                                <input type="text" class="Email form-control" name="Email" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">InfoAdic: </label>
                            <div class="col-md-10">
                                <input type="text" class="InfoAdic form-control" name="InfoAdic" required />
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="form-group" style="float:right;padding-left:5px;">
                                <input type="submit" id="AtualizarAluno" value="Salvar" runat="server" onserverclick="AtualizarTurma" class="btn btn-default" />

                            </div>
                            <div class="form-group" style="float:right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ExcluirAlunoModal" tabindex="-1" role="dialog" aria-labelledby="ExcluirAlunoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 style="font-weight:bold" class="modal-title" id="ExcluirAlunoModalLabel"></h5>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-footer">
                        <div class="row">
                            <div class="form-group" style="float:right;padding-left:5px;">
                                <button type="button" class="RemoverAluno btn btn-danger">Excluir</button>
                            </div>
                            <div class="form-group" style="float:right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

